div.list-group.invisible {
    display: none;
}
.select-cyclists {
    display: none;
    overflow-y: scroll;
    max-height: 600px;
}
.select-cyclists button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
#save-stage {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
@media screen and ( max-height: 800px ) and (min-width: 992px){
    .select-cyclists {
        max-height: 400px;
    }
}
@media screen and ( max-height: 600px ) and (min-width: 992px){
    .select-cyclists {
        max-height: 300px;
    }
}
@media screen and ( max-height: 500px ) and (min-width: 992px){
    .select-cyclists {
        max-height: 250px;
    }
}
